html,
body {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;

	* { box-sizing: border-box; }
}

a {
	color: $burgundy;
	text-decoration: none;
	transition: color .2s ease-out;

	&:hover {
		color: $blk;
	}
}

img { border: none; }