html,
body {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;

	* { box-sizing: border-box; }
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
}

a {
	text-decoration: none;
	transition: color .2s ease-out;

	&:hover {
		color: $blk;
	}
}

img { border: none; }

footer {
	clear: both;
}

p {
	line-height: 1.2em;
}