header {
	height: 140px;
	position: relative;
	top: 0;
	left: 0;
	/*float: left;*/
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #ddd;
	@include clearfix;

	h1 {
		position: absolute;
		left: 36px;
		top: 50%;
		width: 194px;
		height: 67px;
		margin-top: -33px;
		margin-bottom: 0;

		a {
			float: left;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			border: none;
		}
	}

	@media screen and (max-width: 600px) {
		h1 {
			left: 25px;
		}
	}
	@media screen and (max-width: 570px) {
		height: auto;

		h1 {
			position: static;
			margin: 20px auto;
		}
		nav {
			width: 100%;
			margin: 0;
			float: none;
			position: static;

			ul {
				padding: 0;
				@include clearfix;
			}

			li {
				display: block;
				float: left;
				width: 50%;
				height: 55px;
				margin: 0;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				padding: 16px;
				text-align: center;
				border-left: none;

				&:nth-child(-n+2) {
					border-bottom: none;
				}

				&:nth-child(odd) {
					border-right: 1px solid #ddd;
				}
			}
		}
	}
}

nav {
	float: right;
	margin-right: 40px;
	position: relative;
	top: 50%;
	margin-top: -.5em;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline;
		border-left: 1px solid $burgundy;
		padding-left: 10px;
		margin-right: 9px;
		font-size: 1em;

		&:first-child {
			border-left: none;
		}
	}
}

footer {
	height: 96px;

	span {
		margin-left: 36px;
		position: relative;
		top: calc(50% - .5em);
		/*margin-top: -.5em;*/
		font-size: 1em;

		a { color: $burgundy; }
	}
}

.size-tablet-A {
	header {
		h1 {
			left: 25px;
		}
	}
}
.size-mobile,
.size-tablet-A {
	header {
		height: auto;

		h1 {
			position: static;
			margin: 20px auto;
		}
		nav {
			width: 100%;
			margin: 0;
			float: none;
			position: static;

			ul {
				padding: 0;
				@include clearfix;
			}

			li {
				display: block;
				float: left;
				width: 50%;
				height: 55px;
				margin: 0;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				padding: 16px;
				text-align: center;
				border-left: none;

				&:first-child,
				&:first-child + li {
					border-bottom: none;
				}

				&:first-child,
				&:first-child + li + li {
					border-right: 1px solid #ddd;
				}
			}
		}
	}
}

.ie9 {
	@media screen and (min-width: 768px) {
		header {
			display: block;
			position: absolute;
			top: 0;
		}
	}
}

.size-tablet-B,
.size-desktop {
	header {
		display: block;
		position: absolute;
		top: 0;
	}
}