.bluewolf-A2 {
	position: fixed;
	top: 10px;
	left: 10px;
	min-width: 320px;
	height: 200px;
	padding: 15px;
	background: $grayD;
	border-radius: 6px;
	box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2);
	display: none;

	h3 {
		margin: 0 0 10px;
	}

	.searchform {
		position: relative;
		border: none;
	}

	.bw-btn {
		/*position: absolute;*/
		top: 0;
		right: 0;
		/*height: 100%;*/
		/*width: 50px;*/
		-webkit-appearance: none;
		background: $bw-blue;
		border: none;
		color: $wt;
		padding: 10px 12px;
		font-size: .9em;
	}

	#pac-input,
	.searchbar {
		width: 100%;
		padding: 8px 90px 8px 8px;
		font-size: .9em;
		border: none;
	}
}

.index-container {
	width: 100%;
	margin: 0 auto;

	@media screen and (max-width: 480px) {
		padding: 17px 25px;
	}
	@media screen and (min-width: 481px) {
		padding: 27px 35px;
	}
	@media screen and (min-width: 768px) {
		padding: 30px 40px;
	}
}

.dot {
	&:before {
		content: "• ";
	}
}