.body-content-container {
	@include clearfix;
}

.main-content-container {
	transition: margin .3s ease-out;

	h2 {
		@include openSansDemiBold;
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 34px;
	}

	p,
	li {
		font-size: 16px;
		@include openSansThin;
	}

	li {
		margin-bottom: 20px;
		list-style-type: none;
		text-indent: -20px;

		&:before {
			font-family: "auburn-strat";
			content: "\e617";
			color: $burgundy;
			position: relative;
			left: -7px;
			top: 3px;
		}
	}
}

.main-content-container,
.testimonials {
	/*float: left;*/
	display: inline-block;
	padding: 36px;
	transition: width .2s ease-out;
}

.testimonials {
	/*float: right;*/
	width: 440px;

	p {
		font-size: 20px;
		margin-bottom: 15px;
		@include openSansRegularOblique;
	}

	p:first-child {
		margin-top: 0;
	}

	span.author {
		font-size: 16px;
		text-align: right;
		display: block;
	}
}
@media screen and (max-width: 569px) {
	.main-content-container {
		border-top: none;
	}
	header {
		border-bottom: none;
	}
}
@media screen and (max-width: 767px) {
	.canvas.webgl {
		.main-content-container {
			border-top: none;
		}
	}
}

.size-mobile,
.size-tablet-A {
	.main-content-container {
		border-top: none;
	}
	header {
		border-bottom: none;
	}
	.main-content-container,
	.testimonials {
		width: 100%;
	}
	.testimonials {
		border-top: 1px solid #ddd;

		.quote {
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 8px;
		}
	}

	.quote:first-child + .quote + .quote {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 570px) {
	.body-content-container {
		margin-top: 140px;
	}
}
@media screen and (max-width: 767px) {
	.main-content-container,
	.testimonials {
		width: 100%;
	}
	.testimonials {
		border-top: 1px solid #ddd;

		.quote {
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 8px;
		}
	}

	.quote:first-child + .quote + .quote {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 768px) {
	.main-content-container,
	.testimonials {
		padding: 36px;
	}

	.main-content-container {
		max-width: 760px;
		float: left;

		ul {
			padding: 0 75px;
		}
	}

	.testimonials {
		width: 440px;

		p:first-child {
			margin-top: 0;
		}
	}
}
.size-tablet-B,
.size-desktop {
	.body-content-container {
		margin-top: 140px;
	}

	.main-content-container,
	.testimonials {
		padding: 36px;
	}

	.main-content-container {
		max-width: 760px;
		float: left;

		ul {
			padding: 0 75px;
		}
	}

	.testimonials {
		width: 440px;

		p:first-child {
			margin-top: 0;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.main-content-container {
		width: 63.333333%;
	}
	.testimonials {
		width: 36.666667%;
	}
}
.size-tablet-B,
.size-desktop-A {
	.main-content-container {
		width: 63.333333%;
	}
	.testimonials {
		width: 36.666667%;
	}
}
@media screen and (width: 1200px) {
	.testimonials {
		width: 440px;
	}
}
@media screen and (min-width: 1201px) {
	.body-content-container {
		position: relative;
	}
	.main-content-container {
		margin: 223px auto 0;
		width: 760px;
		float: none;
		display: block;
	}
	.testimonials {
		position: absolute;
		left: 50%;
		top: 0;
		width: 1200px;
		margin: 0 0 0 -600px;
		height: 0;
		padding: 0 0 203px;
		/*border-bottom: 1px solid #ddd;*/

		.quote {
			float: left;
			padding: 18px 1.5%;
			/*padding: 1.5%;*/
			/*height: 203px;*/
			margin: 20px 0;
			width: calc(100% / 3);

			&:first-child + .quote {
				border-left: 1px solid #ddd;
				border-right: 1px solid #ddd;
			}
		}
	}
}
.size-desktop-B {
	.body-content-container {
		position: relative;
	}
	.main-content-container {
		margin: 223px auto 0;
		width: 760px;
		float: none;
		display: block;
	}
	div.testimonials {
		position: absolute;
		left: 50%;
		top: 0;
		width: 1200px;
		margin: 0 0 0 -600px;
		height: 0;
		display: block;
		padding: 0 0 203px;
		/*border-bottom: 1px solid #ddd;*/

		.quote {
			float: left;
			padding: 18px 1.5%;
			/*padding: 1.5%;*/
			/*height: 203px;*/
			margin: 20px 0;
			width: 33.333333333333%;

			&:first-child + .quote {
				border-left: 1px solid #ddd;
				border-right: 1px solid #ddd;
			}
		}
	}
}
@media screen and (min-width: 1500px) {
	.testimonials {
		width: 80%;
	}
}