$burgundy: #a32441;
$wt: #fff;
$blk: #000;
$bg-gray: #999;
$gray1: #111;
$gray2: #222;
$gray3: #333;
$gray4: #444;
$gray5: #555;
$gray6: #666;
$gray7: #777;
$gray8: #888;
$gray9: #999;
$grayA: #AAA;
$grayB: #BBB;
$grayC: #CCC;
$grayD: #DDD;
$grayE: #eee;

$bw-blue: #428ac1;

@mixin openSans() {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
}
@mixin openSansThin() {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-style: normal;
}
@mixin openSansRegularOblique() {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-style: italic;
}
@mixin openSansRegular() {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}
@mixin openSansDemiBold() {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-style: normal;
}
@mixin openSansBold() {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style: normal;
}
@mixin myriadProThin() {
	font-family: "Myriad Pro", Helvetica, sans-serif;
	font-weight: lighter;
	font-style: normal;
}
@mixin myriadProBold() {
	font-family: "Myriad Pro", Helvetica, sans-serif;
	font-weight: bold;
}

@mixin gothamSSBold {
	font-family: 'Gotham SSm A', 'Gotham SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@font-face {
	font-family: 'auburn-strat';
	src:url('../fonts/auburn-strat.eot?ot2c6w');
	src:url('../fonts/auburn-strat.eot?#iefixot2c6w') format('embedded-opentype'),
		url('../fonts/auburn-strat.woff?ot2c6w') format('woff'),
		url('../fonts/auburn-strat.ttf?ot2c6w') format('truetype'),
		url('../fonts/auburn-strat.svg?ot2c6w#auburn-strat') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="as-icon-"], [class*="icon-"] {
	font-family: 'auburn-strat';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.as-icon-arrow:before {
	content: "\e617";
}