<div class="bluewolf bluewolf-A2">
	
	<h3>Get Weather Info</h3>
	<form action="" class="searchform">
		<!-- <input type="text" placeholder="Input location" class="searchbar" id="searchBar"> -->
		<!-- <input type="submit" class="bw-btn"> -->
		<!-- <button class="bw-btn">Submit</button> -->
		<!-- <button class="bw-btn" onclick="b()">Submit</button> -->
		<input id="pac-input" class="controls" type="text" placeholder="Enter location">
	</form>
	<p id="weather">Here's the weather:<p>


</div>