<header>
	<h1>
		<a href="{{ model.logo.href }}">
			<img class="logo-image" src="{{ model.logo.img-src }}" alt="{{ model.logo.img-alt }}" />
		</a>
	</h1>

	{% include "breadcrumbs-home" %}
</header>