<section class="hero">
	<div class="text-container">
		<h2>Auburn Health Strategies provides strategic and business development services to health and science organizations.</h2>

		<a class="btn" href="#">More</a>
	</div>
	<img src="{{ model.hero-img.img-src }}" alt="{{ model.hero-img.img-alt }}" class="bg-img">
</section>