<div class="kroger-top5-widget">
	<div class="intro-text">
		<h1>Top 5 Things You Need To Know About Health Screenings</h1>
		<p>Click each item for details on this year's screening rules!</p>
	</div>	
	<div class="top5-list" id="top5-list">
		<h3 class="top5 top5-btn top5-why">
			<span class="top5-icon"></span> <span class="word">Why?</span><span class="icon icon-arrow-down"></span>
		</h3>
		<div class="pContainer block1">
			<h2>Two important reasons to get a screening:</h2>				
			<ol>
				<li><span>Choose the plan you want.</span> You must get a screening by September 30, 2014 to have your choice of 2015 health plans if you did not meet all 4 targets during a health screening in 2013.  Otherwise, your choice will be limted to the HSA PPO Plan 2.</li>
				<li>
					<span>Earn real money for each target you meet.</span>
					<ul>
						<li>When you don't need a screening</li>
						<li>What you earn for meeting targets</li>
					</ul>
				</li>
			</ol>
		</div>
		
		<h3 class="top5 top5-btn top5-when hidden">
			<span class="top5-icon"></span> <span class="word">When?</span><span class="icon icon-arrow-down"></span>
		</h3>
		<div class="pContainer block2">
			<p>If you met all four targets in 2013, you don't have to get a screening in 2014 to have a plan choice or get the full incentive for 2015.  You're already done!</p>
			<p><span>Note:</span> If you used the Reasonable Alternative Standard (RAS) option or submitted a Reasonable Accommodation (RA) form to meet all four targets in 2013, you still have to complete a screening in 2014 by September 30.</p>
		</div>

		<h3 class="top5 top5-btn top5-real-money hidden">
			<span class="top5-icon"></span> <span class="word">Real Money</span><span class="icon icon-arrow-down"></span>
		</h3>
		<div class="pContainer block3">
			<h2>Real money for meeting screening targets</h2>
			<p>You earn $100 for each screening target you meet – up to $400 dollars if you are enrolled in an Anthem medical plan in 2015. If your spouse/domestic partner meets the targets too, you get double the money. Remember, you also get $50 for each target you improve from 2013. Go to the Health page when you’ve completed your screening to see incentives you’ve earned.</p>
		</div>

		<h3 class="top5 top5-btn top5-targets hidden">
			<span class="top5-icon"></span> <span class="word">Targets</span><span class="icon icon-arrow-down"></span>
		</h3>
		<div class="pContainer block4">
			<h2>Screening targets will be the same</h2>
			<p>Our targets aren’t changing for 2014, and you can go to the Health page to see your past screening results. Any screenings you receive between January 1, 2014 and September 30, 2014 will count for your 2015 plan choice and incentive funding.</p>
		</div>
		
		<h3 class="top5 top5-btn top5-where hidden">
			<span class="top5-icon"></span> <span class="word">Where</span><span class="icon icon-arrow-down"></span>
		</h3>
		<div class="pContainer block5">
			<h2>Four ways to get screened:</h2>
			<ol>
				<li><span>Your doctor's office</span> – download the new 2014-2015 PCP form and take to your screening appointment with your medical ID card.  You must return the form by 9/30/14.</li>
				<li><span>A Kroger Co. Pharmacy</span> – call 1-877-444-9689 or go to krogerscreenings.com for an appointment.</li>
				<li><span>The Little Clinic</span> – go to thelittleclinic.com for locations – no appointment necessary.</li>
				<li><span>Company-sponsored screening event</span> – see postng at your worksite location.</li>
			</ol>
			<h3>Tips for screening:</h3>
			<ul>
				<li>Schedule the first screening appointment of the day.</li>
				<li>Fast 12 hours prior to the screening (water and medications are ok).</li>
				<li>Take your state or federal issued identification and your medical ID card (if applicable).</li>
			</ul>
		</div>				
	</div>
</div>