{% layout "layout" %}
{% model "main.json" %}

{% block content %}
<div class="index-container">
	<h1>{{ model.sitetitle }}</h1>

	<h3>API Demos</h3>
	<div class="dot">
		<a href="bw-forecast">Forecast.io</a>
	</div>
	<div class="dot">
		<a href="bw-map">Google Maps</a>
	</div>

	<hr>

	<h2>The Weather App</h2>
</div>
{% endblock %}