{% model "main.json" %}
{% block content %}

	{% include "header" %}

	<div class="body-content-container">
		{% include "hero-section" %}
		<div class="featured-3up-wrap">
			{% include "featured-3up" %}
		</div>
	</div>

	{% include "footer" %}

{% endblock %}