{% block content %}

	<div class="kroger-rsu-modal">
		<!--
		<a class="rsu-modal-close close-reveal-modal" href="#"><span class="icon icon-close"></span></a>
		-->
		
		<h1>How Your Rewards Stack Up</h1>
		<div class="subtext">
			<h2>Your rewards are more than a paycheck.</h2>
			<p>Your everyday efforts to build customer loyalty and achieve our Customer 1st strategy enable Kroger to reward you through pay, benefits, and other rewards.  Your new online statement inclues the value of all your rewards – and it's updated monthly.</p>
		</div>
		<div class="rsu-container clearfix">
			<img class="mainImg" src="public/img/coins.png" alt="coins" />
			
			<div class="rewards-list" id="rewards-list">
				<h3 class="rsu rsu-btn rsu-money hidden">
					<span class="rsu-icon"></span> <span class="word">Money</span><span class="icon icon-arrow-down"></span>
				</h3>
				<div class="pContainer">
					<p>Your rewards start with your paycheck, but they don't end there.</p>				
					<ul>
						<li>Base pay</li>
						<li>Any bonus</li>
						<li>Kroger contributions to benefits</li>
					</ul>
				</div>
				
				<h3 class="rsu rsu-btn rsu-benefits hidden">
					<span class="rsu-icon"></span> <span class="word">Benefits</span><span class="icon icon-arrow-down"></span>
				</h3>
				<div class="pContainer">
					<p>Kroger benefits help you get healthy and stay healthy - and help you save at the same time.</p>
					<ul>
						<li>Health coverage</li>
						<li>Flexible spending accounts</li>
						<li>Health improvement &amp; more</li>
					</ul>
				</div>

				<h3 class="rsu rsu-btn rsu-retirement hidden">
					<span class="rsu-icon"></span> <span class="word">Retirement</span><span class="icon icon-arrow-down"></span>
				</h3>
				<div class="pContainer">
					<p>Save and invest for your future today with company contributions from Kroger.</p>
					<ul>						
						<li>401(k) Retirement Savings Plan</li>
						<li>Cash Balance (Pension) Plan if eligible</li>
					</ul>
				</div>

				<h3 class="rsu rsu-btn rsu-equity hidden">
					<span class="rsu-icon"></span> <span class="word">Equity</span><span class="icon icon-arrow-down"></span>
				</h3>
				<div class="pContainer">
					<p>Owning Kroger stock allows you to share in the success you help create.</p>
					<ul>
						<li>Kroger Stock Exchange <br>(Stock Purchase Plan)</li>
					</ul>
				</div>
				
				<h3 class="rsu rsu-btn rsu-income-protection hidden">
					<span class="rsu-icon"></span> <span class="word">Income Protection</span><span class="icon icon-arrow-down"></span>
				</h3>
				<div class="pContainer">
					<p>You're covered if the unexpected happens.</p>
					<ul>
						<li>Life and accident insurance</li>
						<li>Long-term disability</li>
					</ul>
				</div>				
			</div>

			<a href="SSOPages/OTR.aspx" class="seeRewardsStatement clearfix">
				<h3>See Your Total Rewards Statement</h3>
				<p>View it. Print it. Come back to see what changed.</p>
				<span class="icon icon-arrow-right"></span>
			</a>

		</div>
	</div>

{% endblock %}
